hr {
    margin: 0;
}

.rodape {
    background-color: var(--cor-de-fundo);
}

.end__rodape {
    padding: 1em;
}

.rodape__nav {
    color: black;
    text-decoration: none;
}

.lista__rodape {
    display: none;
}
@media screen and (min-width:1024px) {
    .rodape__nav {
        font-size: 24px;
    }

    .lista__rodape {
        display: block;
    }

    .rodape {
        display: flex;
        justify-content: space-around;
        padding: 1em;
        background-color: #F9F9F9;
    }

    .lista__rodape_item {
        display: flex;
        align-items: center;
    }

    .lista__rodape_link {
        color: var(--cinza);
        text-decoration: none;
        padding: 1em 0.5em;
    }

    .lista__rodape_titulo {
        color: var(--cinza-claro);
        padding: 1em 0;
        text-transform: uppercase;
    }

    .lista__rodape_titulo, .lista__rodape_link {
        font-size: 14px;
    }

    .rodape__nav {
        font-size: 24px;
    }
}

@media screen and (min-width:1024px) {
    .lista__rodape {
        border-left: solid 1px var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}